<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up</h1>
                    <h3 style="color: white">Register Yourself!!</h3>
                </div>
                <form >
                    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                   
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Full Name</label>
                            <input formControlName="fullname" type="text" class="form-control" id="exampleInputPassword1">
                            <span class="text-danger" *ngIf="fullname && fullname.invalid && fullname.touched">*Fullname is Required</span>
                      
                          </div>

                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
                            <input formControlName="mobile" type="number" class="form-control" id="exampleInputPassword1">
                            <span class="text-danger" *ngIf="mobile && mobile.invalid && mobile.touched">*Mobile is Required</span>
                      
                          </div>

                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                          <span class="text-danger" *ngIf="email && email.invalid && email.touched">*Email is Required</span>
                      
                        </div>
                        
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                          <span class="text-danger" *ngIf="password && password.invalid && password.touched">*Password is Required</span>
                      
                        </div>
                        
                        <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary">Sign Up</button>
                      
                </form>
               <a style="color: white;margin-top: 10px;" routerLink='/login' >Already registered? Click to login !!</a>
                </form>
            </div>
        </div>
    </div>
</div>