.col-md-2 d-none d-md-block sidebar{
    margin-left: 0;
    height: 100%;
} 

.heading-navbar {
    color: #fff;
}

.custom-nav {
     background: rgb(33,36,0);
    background: linear-gradient(90deg, rgba(33,36,0,1) 2%, rgba(115,135,37,1) 49%, rgba(118,120,59,1) 85%);

}
.custom-nav-2{
    justify-content: space-between;
}
.sidebar-sticky{
    margin-left: 0;
    background: rgb(33,36,0);
    background: linear-gradient(90deg, rgba(33,36,0,1) 2%, rgba(115,135,37,1) 49%, rgba(118,120,59,1) 85%);
}
.nav-item{
    color:#fff;
}
.nav-link{
    color:#fff;
}